.editUnit {
  border-style: solid;
  border-width: thin;
  border-color: #1d1d1d;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 30px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #1d1d1d;
}

.structureEditingPane {
  max-width: 680px;
  position: absolute;
  top: 0;
  left: 300px; /*set to width of canvas on creation*/
  overflow-x: auto;
  width: 200px; /*set to remainder on creation*/
}

.nav_title, #adminDiv, #filterDiv {
  background-color: #444444;
  color: #c7c7c7;
}

.nav_title {
  padding-bottom: .5rem;
  padding-top: .5rem;
  font-weight: bold;
  font-size: 26px;
/*  background-color: #2d2d2d;*/
/*  color: #c7c7c7;*/
  text-align: center;
  margin: 0;
}

#filterStudyList {
/*
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #1d1d1d;
*/
  height: 30%;
  width: 100%;
  overflow: auto;
  z-index: 450;
  box-shadow: 0px 2px 4px 0px #111111;
  background-color: #1d1d1d;
  color: #c7c7c7;
  
  background-image: url("/nami.png");
  background-repeat: repeat;
}

#adminDiv {
  display: none;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

#moreFilters {
  display: none;
}

#filterDiv {
  font-style: italic;
/*  font-size: .75rem;*/
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  box-shadow: 0px 2px 4px 0px #111111;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #1d1d1d;
}

#currentStudiesList {

}

.nav-list {
  background-color: #1d1d1d;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-shadow: 0px 2px 4px 0px #111111;
}

.nav-list li {
  text-align: center;
  padding: 0;
  margin: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #1d1d1d;
  background-color: #2d2d2d;
}

.nav-list li a {
  margin: 0;
  padding: .5rem;
  color: #c7c7c7;
  text-decoration: none;
  display: block;
}

.nav-list li a:hover {
  color: #f1f1f1;
  background-color: #333333;
  text-decoration: none;
}

.nav-list li a:active {
  color: #f1f1f1;
  background-color: #444444;
  text-decoration: none;
}

.nav-list li a:visited {
  text-decoration: none;
}

#currentOrganList {
  height: 70%;
  width: 100%;
  overflow: auto;
  
    
  background-image: url("/favicon-96.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: local;
}

ul#organs {
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}

ul#organsEdit {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}