.imageButton {
  display: block;
}

.hiddenFirst {
  display: none;
}

.studyEditField:disabled {
  color: #6d6d6d;
  background-color: #c7c7c7;
}

#currentStudyOwner {
/*  background-color: red;*/
}

.editLabel {
  font-size: 0.8rem;
  padding-bottom: 2px;
  display: block;
}

.verifiedLabel {
  font-size: 0.8rem;
/*  vertical-align: text-bottom;*/
}

.fileLoadButton {
  display: none;
}