/* CSS declarations go here */
/*
#player {
  width: 100%;
  height: auto;
}*/

/** {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/

html {
}

body {
/*  margin: 0px;*/
/*  max-width: 62.5em;*/
  max-width: 50em;
  background-color: #151515;
/*  background-image: url("pattern.jpg");*/
  margin: 0 auto !important;
  float: none !important;
}

#wrapper {
  height: 100vh;
  background-color: #1d1d1d;
  color: #c7c7c7;
  box-shadow: 0px 0px 1em #000000;
}

h1 {
  padding-bottom: .5em;
  padding-top: .3em;
  background-color: #1d1d1d;
  color: #c7c7c7;
  
  margin: 0 auto !important;
  float: none !important;
  text-align: center;
}

h3 {
  margin: 0 auto !important;
  background-color: black;
  padding-bottom: .5em;
  padding-top: .3em;
  height: 2em;
  text-align: center;
  color: #c7c7c7;
}

ul#organs {
/*
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
*/
/*  overflow: hidden;*/
  margin: 0 auto;
  padding: 0;
  display: block;
}

#organs li {
  
  display: block;
  float: left;
  width: 33%;
  margin: 0 auto;
  padding: 0 0;
}


#canvas-container {
  width: 100%;
  background-color: black;
  text-align: center;
}

canvas {
  display: inline;
}


input[type="checkbox"] {
/*    display:none;*/
}

span {
  display: inline-block;
  width: 2em;
  text-align: center;
}

label {
  margin: 0 auto;
}

/*
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(check_radio_sheet.png) -19px top no-repeat;
}
*/

/*
#organs {
  background-color: #f8f8f8;
  margin: 0 auto !important;
  float: none !important;
}
*/
